---
import '../styles/global.css'
---

<div class="nav">
  <a class="nav-elem" href="/">Start</a>
  <a class="nav-elem" href="/projects">Projekte</a>
  <a class="nav-elem" href="/cv">CV</a>
</div>

<style>
  .nav {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 2em;
  }

  .nav-elem {
    text-decoration: none;
    color: var(--surface);
    background-color: var(--bg);
    padding: 0.5em 1em;
    margin: 0 0.25em;
    border-radius: calc(var(--radius) / 2);
    box-shadow: var(--shadow);
    transition: background-color 0.5s ease;
  }

  .nav-elem:hover {
    background-color: var(--accent);
  }

  .nav-elem:active {
    background-color: var(--bg);
  }

  .nav-elem:after {
    background-color: var(--surface);
  }
</style>