---
---

  <div class="entry">
    <slot />
  </div>


<style>

.entry {
  padding: 1em 2em;
  margin: 1em;
  transition: background-color .3s ease;
  border-radius: var(--radius);
}

.entry:hover {
  background-color: var(--accent);
}

</style>
